.header__lang-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 111%;
    }    
}