.header__lang-link {
    margin: 0;
    margin-right: 18px;
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.header__lang-link:last-child {
    margin-right: 0;
}