.lead__title {
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
    max-height: 200px;
    text-align: center;
    font-size: 96px;
    line-height: 104%;
    font-weight: 900;
    font-style: normal;
}