.intro__text {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    max-width: 690px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        max-width: 383px;
    }
}

@media screen and (max-width: 424px) {
    .intro__text {
        min-width: 288px;
        font-size: 16px;
        line-height: 163%;
    }
}