.cover__overlay {
    margin: 0;
    padding: 0;
    min-width: 1184px;
    min-height: 740px;
    background: #2A2C2F;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 1;
    transition: opacity 0.3s linear;
}

.cover__overlay:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-width: 1024px;
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover__overlay {
        min-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-width: 320px;
        min-height: 200px;
    }
}