.cover__background {
    margin: 0;
    padding: 0;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    z-index: 0;
}

.cover__background::before {
    content: "";
    background-color: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.3s linear;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;        
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;        
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        max-width: 425px;
        min-height: 267px;      
    }
}

@media screen and (max-width: 424px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;        
    }
}