.cover__title {
    margin: 0;
    padding: 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 109%;
    }
}